@{
    ViewData["Title"] = "Home Page";
}

    <form method="post">
        <input type="text" name="id" value="" />
        <input type="text" name="pass" value="" />
        <input type="submit" name="name" value="" />
    </form>
    <p>@ViewBag.alo</p>